* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

/* title global */
.title {
    text-align: center;
    color: white;
}

.title p:first-of-type {
    font-size: 14px;
}

.title h1 {
    font-size: 50px;
}

.title p:last-of-type {
    font-size: 17px;
    color: #888888;
}

/* header  */
header {
    border-bottom: 1px solid #D8D6D7;
    padding: 25px 0;
    position: absolute;
    width: 100%;
}

.header__content {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto;
    align-items: center;
}

.header__logo span {
    font-size: 30px;
    font-weight: bold;
}

.header__logo a {

    text-decoration: none;
    color: white;
}

.header__logo i {
    font-size: 35px;
}

.header__content .menu ul {
    list-style: none;
}

.header__content .menu ul li {
    display: inline;
    padding: 0 25px;

}

.header__content .menu ul li a {
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.7s;
    color: white;
}

.header__content .menu ul li.active a {
    color: red;
}

/* CAROUSEL */
#carousel {
    background-image: url(/thực_hành_meipaly/home_slider.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel .carousel__content {
    text-align: center;
    color: white;
}

#carousel .carousel__content p {
    font-size: 25px;
}

#carousel .carousel__content h1 {
    font-size: 70px;
    line-height: 90px;
}

#carousel .carousel__content button {
    padding: 8px 37px;
    margin: 15px 0;
    cursor: pointer;
    background-color: #E62B4A;
    border: 1px solid #E62B4A;
    transition: all 0.7s;
    font-weight: lighter;
    text-transform: uppercase;
}

#carousel .carousel__content button a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

#carousel .carousel__content button:hover {
    background-color: #AF2239;
}

#carousel .arrow__down i {
    font-size: 30px;
    margin-top: 36px;
    animation-duration: 1s;
    animation-name: arrowDown;
    animation-iteration-count: infinite;
}

@keyframes arrowDown {
    from {
        transform: translateY(0);
        opacity: 1;
    }

    to {
        transform: translateY(100px);
        opacity: 0;
    }
}

/* services  */
#services {
    background-color: black;
    padding: 60px 0;
    color: white;
}

.services__content {
    /* margin: 30px 0; */
    width: 75%;
    margin: auto;

}

#services .services__content .title p:first-of-type {
    color: #C90A00;
    font-weight: lighter;
    padding-top: 10px;
}

#services .services__content .title h1 {
    font-weight: 400;
}

#services .services__content .title p:last-of-type {
    font-weight: bold;
    margin: 20px 0;
}

/* #services .slick__slide{
    display: flex;
} */
#services .item {
    width: 200px;
    height: 240px;
    background-color: white;
    color: #888888;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    margin: 10px;
    position: relative;
}

#services .item i {
    font-size: 50px;
}

.slick-dots li.slick-active button:before {
    color: red;
    font-size: 14px;
}

.slick-dots li button:before {
    color: #FFFFFF;
    font-size: 14px;
}

#services .slick__slide .item::after {

    content: "";
    background-color: red;
    width: 5px;
    height: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: all 0.5s;
}

#services .slick__slide .item:hover:after {
    height: 100%;
}

/* Blog */
#blog {
    padding: 60px 0;
    /* margin: 40px 0;  */
    width: 75%;
    margin: 0 auto;
}

#blog .title p:first-of-type {
    color: #888888;
    margin-top: 30px;

}

#blog .title h1 {
    color: black;
    font-weight: 400;
}

#blog .title p:last-of-type {
    margin: 25px 0;
}

#blog .blog__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

#blog .blog__content .blog__item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: contrast(50%);

}

#blog .item__1 {
    grid-column: 1/ span 2;
    grid-row: 1/ span 2;
}

#blog .item__10 {
    grid-column: 3/ span 2;
    grid-row: 3/ span 2;

}

.blog__item {
    position: relative;
}

/* OVERLAY  */
#blog .blog__overlay {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #db5c71de;
    width: 100%;
    height: 100%;
    transition: all 0.5s;
    opacity: 0;

}

#blog .blog__item:hover .blog__overlay {
    /* background-color: #D36275; */
    opacity: 1;
}



/* OVERLAY icon  */
#blog .blog__overlay .blog__icon {
    position: absolute;
    top: 25px;
    right: 25px;
}

#blog .blog__item:hover .blog__icon i {
    transform: translateY(0);
}

#blog .blog__overlay .blog__icon i {

    text-align: center;
    background-color: white;
    width: 35px;
    height: 35px;
    cursor: pointer;
    line-height: 35px;
    transform: translateY(20px);
    transition: all 0.5s;

}

#blog .blog__item .blog__icon:hover i {
    background-color: black;
    color: white;
}

/* overlay text  */
#blog .blog__item .blog__text {
    position: absolute;
    bottom: 25px;
    left: 25px;
    text-transform: uppercase;
    color: white;
    transform: translateY(20px);
    transition: all 0.5s;
}

#blog .blog__item .blog__text p {
    color: #D0C3C5;
}

#blog .blog__item:hover .blog__text {
    transform: translateY(0);
}

/* count  */
#counter {
    background-color: black;
    color: white;
    padding: 90px 0;
}

.counter__content {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
    text-align: center;
}

.counter__content .counter__item p:first-of-type {
    font-size: 60px;
    font-weight: 300;
}

.counter__content .counter__item p:last-of-type {

    font-size: 20px;
    color: #888888
}

/* DIGITAL  */
#digital {
    background-image: url(./thực_hành_meipaly/bussiness_img_1.jpg);
    background-position: center;
    background-size: cover;
    padding: 80px 0;
    background-attachment: fixed;
}

#digital .title p:first-of-type {
    color: #C90A00;
}

#digital .title h1 {
    font-weight: 400;
}

#digital .title p:last-of-type {
    margin: 30px 0;
}

.digital__content {
    width: 75%;
    margin: 0 auto;
}

.digital__content iframe {
    width: 100%;
    height: 600px;
}

/* CONTACT */
#contact {
    padding: 60px 0;
}

#contact .title h1 {
    color: black;
    font-weight: 400;
}

#contact .title p {
    margin: 30px 0;
}

.contact__content {
    display: flex;
    width: 75%;
    margin: 0 auto;

    /* display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px; */
}

.contact__maps {
    width: 60%;
}

.contact__form {
    width: 40%;
}

.contact__form form {
    display: flex;
    flex-direction: column;
    padding: 0 15px;

}


.contact__form input,
.contact__form textarea {
    border-radius: 5px;
    height: 50px;
    padding: 15px;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
}

.contact__content .contact__form textarea {
    height: 210px;
}

.contact__form form button {
    background-color: black;
    color: white;
    line-height: 19px;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: lighter;
    margin-bottom: 30px;
    height: 55px;
    cursor: pointer;
}

.contact__form form button:hover {
    background-color: #E62B4A;
    transition: all 0.5s;
    border-color: #E62B4A;
}

.backtotop {
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: #888888;
    color: white;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;

}
.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
  }
  
  .cd-top--fade-out {
        opacity: .5;
  }